@import '../../../../component/GlobalStyles/GlobalStyles.scss';

.estimatecost {
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.estim_form {
    display: flex;
    flex-direction: column;
}

.estim_form_border {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        margin-right: 16px;
    }
}

#estim_form_relationship,
#estim_form_birthday,
#estim_form_startday {
    padding: 8px 0;
    font-size: 18px;
    margin-left: 10px;
}

#estim_form_relationship {
    flex-grow: 1;
}

#estim_form_birthday,
#estim_form_startday {
    width: 96%;
}

.estim_form_label {
    margin-top: 24px;
    font-weight: 500;
    color: #000000d9;
    width: 100%;
    position: relative;
}
.estim_form_gen {
    line-height: 40px;
    label {
        margin-right: 24px;
        input {
            margin-left: 12px;
            font-size: 18px;
        }
    }
}
.estim_form_iicon {
    display: inline-flex;
    margin-left: 12px;
    .icon_i {
        margin: auto;
    }
}
.estim_form_sumit {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.estim_form_tippyRender {
    // position: absolute;
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px #ccc;
    padding: 12px;
    font-size: 12px;
    line-height: 18px;
}

.estim_form_relationship {
    font-size: 1.6rem;
    padding: 0;
}

.estim_form_relationshipItem {
    cursor: pointer;
    line-height: 32px;
    padding: 0 12px;
    &:hover {
        background-color: #cccccc4b;
    }
}

.estim_form_bd {
    width: 300px;
    background-color: #000;
}
