@import '../../component/GlobalStyles/Reponsive.scss';

.login_bg {
    background-color: #cccccc4c;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.login_page {
    position: absolute;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 16px;
    padding: 32px 48px;
    margin-top: 32px;
    left: 50%;
    transform: translateX(-50%);
    @include mobile {
        padding: 12px 24px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px !important;
        text-align: center;
    }
    > p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }
}
.login_container {
}
.login_option {
    display: flex;
    justify-content: space-between;
    @include mobile {
        display: block;
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include mobile {
            justify-content: flex-start;
            padding: 12px 0;
        }
    }
    input[type='radio'] {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
}
.login_input {
    margin-top: 32px;
    p {
        margin-bottom: 8px;
    }
    input {
        border: 1px solid #ccc;
        width: 100%;

        font-size: 20px;
        border-radius: 8px;
        padding: 8px 12px;
    }
}
.login_btn {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;

    .login_btn_btn {
        @include mobile {
            width: 100%;
        }
    }
}
