.bg_automobilematerial {
}
.automobilematerial {
    width: 100%;
    max-width: 1048px;
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
}

.automobilematerial_heading {
    margin-bottom: 20px;
}
.automobilematerial_main {
    display: flex;
    flex-wrap: wrap;
}
.automobilematerial_main_heading {
    width: 100%;
    margin-bottom: 12px;
}
.automobilematerial_main_kd {
    width: 100%;
}
.automobilematerial_main_radio {
    display: flex;
}
.automobilematerial_main_no,
.automobilematerial_main_yes {
    display: flex;
    margin-right: 12px;
    input {
        margin-right: 6px;
    }
}

.automobilematerial_main_set {
    display: flex;
    flex-wrap: wrap;
}
.automobilematerial_main_cartype,
.automobilematerial_main_time,
.automobilematerial_main_seat,
.automobilematerial_main_fee {
    width: 50%;
    margin-top: 16px;
    input {
        width: 90%;
        padding: 6px 10px;
        border: 1px solid #ccc;
        font-size: 1.6rem;
        border-radius: 6px;
    }
    > p {
        margin-bottom: 6px;
    }
}

.automobilematerial_main_seat,
.automobilematerial_main_fee {
    input {
        background-color: #cccccc4c;
    }
}

.automobilematerial_cost {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    background-color: #cccccc4c;
    border-radius: 8px;
    padding: 6px 10px;
}
