.button_wrapper {
    font-weight: 500;
    min-width: 100px;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 44px;
    display: inline-block;
    text-align: center;

    + .wrapper {
        margin-left: 10px;
    }
}
.border {
    border: 1px solid var(--primary-color);
    background-color: #fff;
}
.bg_color {
    background-color: var(--primary-color);
    color: #fff !important;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.title {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    // color: var(--primary-color);
    // margin: 0 6px;
}

.icon + span,
span + .icon {
    margin-left: 6px;
}

.b_left_icon,
.b_right_icon {
    font-size: 1.4rem;
}
