@import '../../../../component/GlobalStyles/Reponsive.scss';

.bg_advans {
    position: relative;
    height: 400px;
    background-color: #cccccc4c;
    margin-top: -5px;
}

.advantages {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 18px;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 95%;
    max-width: 1048px;
    padding: 40px;
    @include mobile_tablet {
        padding: 40px 24px;
    }
}
.advans_header {
    margin-right: 20px;
    min-width: 28%;
}
.advans_more {
    display: flex;
    flex-direction: column;
    position: relative;
    > :first-child::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #cccccc4c;
        bottom: 206px;
        @include mobile_tablet {
            width: 0;
        }
    }
    > :nth-child(2)::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #cccccc4c;
        bottom: 77px;
        @include mobile_tablet {
            width: 0;
        }
    }
}
.advans_more_s {
    flex: 1;
    display: flex;
    @include mobile {
        display: block;
    }
}
.advans_more_item {
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 12px;
    @include mobile {
        width: 100%;
        align-items: center;
    }
}
.advans_more_paicon {
    padding: 10px;
    border-radius: 13px;
    background-color: #fef7f3;
    height: fit-content;
    margin-right: 8px;
    color: var(--primary-color);
}
.advans_more_heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 4px;
}
.advans_more_content {
    line-height: 24px;
    font-size: 16px;
}
